Source: memx-accl
Maintainer: MemryX <no-reply@memryx.com>
Build-Depends: debhelper (>= 10), memx-drivers (>= 2.2.0), memx-drivers (<< 2.3.0)

Package: memx-accl
Architecture: amd64 arm64 riscv64
Recommends: mxa-manager
Depends: memx-drivers (>= 2.2.0), memx-drivers (<< 2.3.0), ${shlibs:Depends}, ${misc:Depends}
Description: MemryX Runtime API library for C++
